<div class="container">
    <div class="content">
        <div class="row">
            <app-armies-stats></app-armies-stats>
        </div>
        <div class="row">
            <app-activity-stats></app-activity-stats>
        </div>

        <div style="min-height: 100vh;"></div>
    </div>
</div>
