<div class="container" style="margin-top: 150px;">
    <h2 class="heading">rotwk-league.net Rules</h2>

    <ol id="rules-list">
        <li>
            Your rotwk-league.net nickname should not exceed 10 characters (equivalent to the restriction set in the
            BFME2/RotWK multiplayer system.
        </li>
        <li>In order to use and be part of this platform you must accept the terms of use.</li>
        <li>You may have as many nicknames as you like.</li>
        <li>
            Your rotwk-league.net nickname must match your in-game nickname. Should this not be the case, your
            rotwk-league.net game will not be rated.
        </li>
        <li>
            If another user has reserved a nickname you have been known by for an extended period of time, you may
            dispute it by contacting staff.
        </li>
    </ol>

    <h2 class="heading">Terms of use</h2>

    <p>
        rotwk-league.net is a non-profit product, and therefore free of charge. However, we may collect a minimum amount
        data from users to ensure the successful operation of the platform.
    </p>
    <p>
        You are required to provide a login username and password during the registration process. These details are
        captured and stored by us. It is used solely to distinguish between the different users of the platform.
    </p>

    <div style="min-height: 100vh;"></div>
</div>
