#get-started-steps,
p {
    font-size: 18px;
}

.heading {
    margin-bottom: 25px;
    margin-top: 50px;
}

#get-started-steps li {
    margin-bottom: 15px;
}

.download-link {
    font-size: 24px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: #fff;
}

.download-container > a:hover {
    color: #d9d9d9;
    text-decoration: underline;
}
