<div class="container" style="margin-top: 120px;">
    <!-- <h2 class="heading">Downloads</h2>
 
   <div class="row">
      <div class="col-sm-6 download-container">
         <a class="download-link" target="_blank" href="/assets/components/get-started/ReplayParser Installer.exe">Download link</a>
      </div>
      <div class="col-sm-6 download-container">
            <a class="download-link" target="_blank" href="https://drive.google.com/open?id=164ZXs8Wom0fcgUOKpNsQ6W7xRgOsEuNE">Alternative download link</a>
      </div>
   </div>
    -->

    <h2 class="heading">Getting started</h2>

    <!-- To get started playing  -->

    <ol id="get-started-steps">
        <li>Register your rotwk-league.net account.</li>
        <!-- <li>Log in using your credentials.</li>
      <li>Enter <a routerLink="/create-nickname" target="_blank">this link</a> to create your new nickname.</li> -->
        <li>Open the 2.02 switcher and fire up the League Tool from the Tools menu.</li>
        <li>Use your account credentials to log into the League Tool application.</li>
        <li>Play a game versus someone who uses League. Be sure all players use the correct nickname!</li>
        <li>
            If you lose the game, use alt+tab to minimize the game and click the "Report Loss" button in the League
            Tool.
        </li>
    </ol>

    <div style="min-height: 100vh;"></div>
</div>
