.content-container {
    margin-top: 150px;
}

.player-history-link {
    font-size: 16px;
    font-weight: 600;
    color: #aaa;
}

.search-section {
    margin-bottom: 70px;
}

.error-message {
    margin-left: 15px;
    margin-top: 15px;
    color: red;
}

.stat-section {
    margin-top: 25px;
}

.section-heading {
    font-size: 24px;
    font-weight: 600;
    margin-top: 50px;
}

.divider {
    display: block;
}

.player-name {
    font-size: 32px;
    font-weight: 600;
}

.stat-section hr,
hr {
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(170, 170, 170, 0.6);
}

.ladder-name {
    font-size: 16px;
    font-weight: 600;
}

table {
    margin-top: 30px;
}

.medals-container > img {
    max-width: 50%;
}

::ng-deep .progress-outer {
    max-width: 50%;
}

.dropdown-menu {
    transform: translate3d(0px, 46px, 0px) !important;
}

.dropdown-menu .dropdown-item {
    cursor: pointer;
}
