<div class="container content-container">
    <div class="row search-section">
        <div class="col-md-3">
            <label>Player name</label>
            <input
                id="player-name"
                type="text"
                class="form-control"
                [(ngModel)]="playerName"
                placeholder="Player name"
            />
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-primary" (click)="getPlayerCard(selectedDateString)" style="margin-top: 32px">
                Find
            </button>
            <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
        </div>
        <div class="col-md-6" style="margin-top: 32px">
            <div class="dropdown">
                <button
                    class="btn btn-primary dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    {{ selectedDateDisplay }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a
                        class="dropdown-item"
                        *ngFor="let dateString of seasons; let i = index"
                        (click)="getPlayerCard(dateString.DateString)"
                    >
                        {{ dateString.DateDisplay }}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="playerCard">
        <!-- NAME AND IMAGE -->
        <div class="row stat-section">
            <div class="col-sm-2">
                <img src="/assets/components/player-card/unknown-player.png" style="max-width: 100%" />
            </div>
            <div class="col-sm-3">
                <p class="player-name">{{ playerCard.playerName }}</p>
                <a [routerLink]="['/player-history', playerCard.playerName]" class="player-history-link" target="_blank"
                    >View player's history</a
                >
            </div>
            <div class="col-sm-7">
                <!-- MEDALS SECTION -->
                <div class="row">
                    <div class="col-sm-4" class="medals-container">
                        <img src="{{ getActivityMedalImage() }}" />

                        <progress-bar
                            [progress]="playerCard.playerMedalDetails.activity.progressPercentage"
                            [color-degraded]="{
                                '0': '#F03209',
                                '20': '#F06B09',
                                '40': '#F0A309',
                                '60': '#F0D109',
                                '80': '#8EF009'
                            }"
                        >
                        </progress-bar>
                    </div>
                    <div class="col-sm-4" class="medals-container">
                        <img src="{{ getTotalWinsMedalImage() }}" />
                        <progress-bar
                            class="some-progress-bar"
                            [progress]="playerCard.playerMedalDetails.totalWins.progressPercentage"
                            [color-degraded]="{
                                '0': '#F03209',
                                '20': '#F06B09',
                                '40': '#F0A309',
                                '60': '#F0D109',
                                '80': '#8EF009'
                            }"
                        >
                        </progress-bar>
                    </div>
                    <div class="col-sm-4" class="medals-container">
                        <img src="{{ getAmbitionMedalImage() }}" />
                        <progress-bar
                            [progress]="playerCard.playerMedalDetails.ambition.progressPercentage"
                            [color-degraded]="{
                                '0': '#F03209',
                                '20': '#F06B09',
                                '40': '#F0A309',
                                '60': '#F0D109',
                                '80': '#8EF009'
                            }"
                        >
                        </progress-bar>
                    </div>
                </div>
            </div>
        </div>

        <!-- MAIN STATS -->
        <label class="section-heading">Permanent ladder statistics</label>
        <hr style="margin-top: 0" />

        <div class="row stat-section">
            <div class="col-sm-6">
                <p class="ladder-name">Individual</p>
                <p *ngIf="playerCard">Wins {{ playerCard.permaIndividualWinsCount }}</p>
                <p *ngIf="playerCard">Loses {{ playerCard.permaIndividualLosesCount }}</p>
                <p *ngIf="playerCard">Win ratio {{ playerCard.permaIndividualWinRatio }}%</p>
                <p *ngIf="playerCard">Rating {{ playerCard.permaIndividualRating }}</p>
            </div>
            <div class="col-sm-6">
                <p class="ladder-name">Team</p>
                <p *ngIf="playerCard">Wins {{ playerCard.permaTeamWinsCount }}</p>
                <p *ngIf="playerCard">Loses {{ playerCard.permaTeamLosesCount }}</p>
                <p *ngIf="playerCard">Win ratio {{ playerCard.permaTeamWinRatio }}%</p>
                <p *ngIf="playerCard">Rating {{ playerCard.permaTeamRating }}</p>
            </div>
        </div>

        <!-- OPPONENTS SECTION -->
        <div class="row">
            <div class="col-sm-12">
                <label class="section-heading">Opponent oriented statistics (total 1v1 games)</label>
                <hr style="margin-top: 0" />

                <div class="table-responsive-sm" *ngIf="playerCard">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Player</th>
                                <th>{{ playerCard.playerName }} wins against</th>
                                <th>{{ playerCard.playerName }} loses against</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let opponent of playerCard.playerOpponents">
                                <td>{{ opponent.playerName }}</td>
                                <td>{{ opponent.wonAgainst }}</td>
                                <td>{{ opponent.lostTo }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div style="min-height: 100vh"></div>
</div>
