<div class="container">
    <form [formGroup]="arFormGroup" (ngSubmit)="onArSubmit()">
        <div
            id="alert-failed-login"
            *ngIf="isFailedAlertVisible"
            class="alert alert-dismissible alert-danger alert-msg"
        >
            <button type="button" (click)="hideAlert()" class="close" data-dismiss="alert">&times;</button>
            {{ alertMessage }}
        </div>
        <div
            id="alert-failed-login"
            *ngIf="isSuccessAlertVisible"
            class="alert alert-dismissible alert-success alert-msg"
        >
            <button type="button" (click)="hideAlert()" class="close" data-dismiss="alert">&times;</button>
            {{ alertMessage }}
        </div>

        <h1 class="process-ar-header">Process AR</h1>
        <div class="row replay-container">
            <h3>Replay file</h3>
            <input
                type="file"
                formControlName="arReplayFile"
                (change)="fileChange($event)"
                placeholder="Upload file"
                accept=".bfme2replay"
            />
        </div>
        <div class="row playerName-container">
            <h3>Loser player name</h3>
            <input
                ngui-auto-complete
                [source]="observableSource.bind(this)"
                class="form-control playerName-input"
                formControlName="loserPlayerName"
            />
        </div>

        <input type="submit" value="Submit AR" class="btn btn-primary submit-btn" />
    </form>

    <h3 class="delete-game-header">Delete game</h3>
    <input
        ngui-auto-complete
        [source]="gamePrimaryKeyIdsSource.bind(this)"
        [(ngModel)]="gameIdentifierToRemove"
        class="form-control gameIdentifier-input"
    />
    <button (click)="removeGame()" class="btn btn-primary delete-game-btn" type="button">
        Delete game
    </button>
    

    <div style="min-height: 100vh"></div>
</div>
