.container{
    margin-top: 150px;
    //border: 1px solid red;
}

.replay-container{
    flex-direction: column;
    margin-top: 20px;
}

.playerName-container{
    flex-direction: column;
    margin-top: 30px;
}

.token-container{
    flex-direction: column;
    margin-top: 30px;
}

.playerName-input{
    width: 35%;
}

.token-input{
    width: 35%;
}

.process-ar-header, .alert-msg{
    margin-left: -15px;
}

.submit-btn{
    margin-left: -15px;
    margin-top: 10px;
}

.delete-game-header{
    margin-left: -15px;
    margin-top: 50px;
}

.gameIdentifier-input{
    margin-left: -15px;
    width: 35%;
}

.delete-game-btn{
    margin-left: -15px;
    margin-top: 10px;
}