<div class="container" style="margin-top: 150px;">
    <circle-spinner [hidden]="!loading"></circle-spinner>

    <div class="col-sm-8 offset-sm-2 text-center">
        <div
            *ngIf="isAlertVisible"
            [ngClass]="
                isFailedAlert == true ? 'alert alert-dismissible alert-danger' : 'alert alert-dismissible alert-success'
            "
        >
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ alertMessage }}
        </div>
        <div style="text-align: left;">
            <h2>Reset password</h2>
        </div>

        <form [formGroup]="registerForm" (ngSubmit)="resetPassword()" style="margin-top: 25px;">
            <div class="form-group" style="text-align: left;">
                <label>User name</label>
                <input
                    type="text"
                    formControlName="userName"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.userName.errors }"
                />
                <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                    <div *ngIf="f.userName.errors.required">User name is required</div>
                </div>
            </div>
            <div class="form-group" style="text-align: left;">
                <label>Password</label>
                <input
                    type="password"
                    formControlName="password"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div>
            <div class="form-group" style="text-align: left;">
                <label>Confirm Password</label>
                <input
                    type="password"
                    formControlName="confirmPassword"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                />
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                </div>
            </div>
            <div class="form-group" style="text-align: left;">
                <button class="btn btn-primary">Reset password</button>
            </div>
        </form>
        <div style="min-height: 100vh;"></div>
    </div>
</div>
