﻿<header class="">
    <div id="image-container">
        <div id="lotr-image-text-left">RotWK 2.02</div>
        <div id="lotr-image-text-right">gaming league</div>
        <img
            id="img-element"
            class="img-fluid d-block mx-auto"
            src="/assets/components/home/witch-king-2.jpg"
            style="height: 450px; width: 100%; margin-top: 75px;"
            alt=""
        />
        <!-- <img id="img-element" class="img-fluid d-block mx-auto"
            src="/assets/components/home/home-placeholder.png"
            style="height: 450px; width: 100%; margin-top: 75px;"
            alt=""> -->
    </div>
</header>
<section class="py-5 section-grey">
    <div class="container section-padding">
        <div class="row">
            <div class="col-md-5 d-flex align-items-center justify-content-center">
                <button
                    id="getstarted-button"
                    type="button"
                    class="btn btn-primary btn-xlarge"
                    routerLink="/get-started"
                >
                    Get started!
                </button>
            </div>
            <div class="col-md-7 center-me">
                <h1>What is rotwk-league.net?</h1>
                <p>
                    It is a new Rise of the Witch-king 2.02 gaming platform that allows users to play ranked games,
                    whether it is 1v1 or 4v4. It is designed to provide users with a reliable ladder system which keeps
                    track of all ranked games - similar to ClanWars - but far more user-friendly.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="py-5 section-grey" style="border-top: 1px solid rgba(0, 0, 0, 0.6);">
    <div class="container section-padding">
        <div class="row">
            <div class="col-md-12 center-me">
                <h1>Why should I join it?</h1>
            </div>
        </div>
    </div>
</section>
<section class="py-5 section-blue">
    <div class="container">
        <div class="row section-padding">
            <!-- <div class="col-md-5 center-me">
                <img class="img-fluid d-block mx-auto"
                    src="/assets/components/home/comfort-icon.png"
                    style="height: 200px; width: 50%; margin-top: 0px;"
                    alt="">
            </div> -->
            <div class="col-sm-12 center-me">
                <h1>Quick and Painless Reporting</h1>
                <p class="lead center-me"></p>
                <p class="left-me">
                    Say goodbye to the tedious manual reporting of ClanWars and hello to single click reporting! Users
                    are able to instantaneously report their games without hassle - no need to wait 1 minute, no more
                    manual warriors selection.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="py-5 section-grey">
    <div class="container">
        <div class="row section-padding">
            <!-- <div class="col-md-5 center-me">
                <img class="img-fluid d-block mx-auto"
                    src="/assets/components/home/fair-symbol-1.jpg"
                    style="height: 200px; width: 50%; margin-top: 0px;"
                    alt="">
            </div> -->
            <div class="col-sm-12 center-me">
                <h1>Fair points system</h1>
                <p class="lead center-me">
                    Calculating points is based on current players' rating, not on current amount of points.
                </p>
                <p class="left-me">
                    After every game is played all players' ratings are updated based off ELO points system. You can
                    read more about it in the <a href="/rules" target="_blank">rules section</a>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="py-5 section-blue">
    <div class="container">
        <div class="row section-padding">
            <!-- <div class="col-md-5 center-me">
                <img class="img-fluid d-block mx-auto"
                    src="/assets/components/home/replay-logo.png"
                    style="height: 220px; width: 70%; margin-top: 0px;"
                    alt="">
            </div> -->
            <div class="col-sm-12 center-me">
                <h1>Faction detection</h1>
                <!-- <p class="lead center-me">Ever wondered what your win rate as Dwarves is?</p> -->
                <p class="left-me">
                    Factions are extracted from replays automatically, allowing for match-up specific statistics. Ever
                    wondered what your win rate as Dwarves is?
                </p>
            </div>
        </div>
    </div>
</section>
<section class="py-5 section-grey">
    <div class="container">
        <div class="row section-padding">
            <!-- <div class="col-md-5 center-me">
                <img class="img-fluid d-block mx-auto"
                    src="/assets/components/home/bootstrap-stack.png"
                    style="height: 200px; width: 50%; margin-top: 0px;"
                    alt="">
            </div> -->
            <div class="col-sm-12 center-me">
                <h1>Fresh and modern look</h1>
                <p class="left-me">
                    The user interface was rebuilt, it follows modern design trends and looks really eye-catching!
                </p>
            </div>
        </div>
    </div>
</section>
<section class="py-5 section-blue">
    <div class="container">
        <div class="row section-padding">
            <!-- <div class="col-md-5 center-me">
                <img class="img-fluid d-block mx-auto"
                    src="/assets/components/home/replay-logo.png"
                    style="height: 220px; width: 70%; margin-top: 0px;"
                    alt="">
            </div> -->
            <div class="col-sm-12 center-me">
                <h1>Replays auto upload</h1>
                <p class="lead center-me">Your game replays stored in one place!</p>
                <p class="left-me">
                    Every game you report in the system gets uploaded along with the replay file, so every game played
                    in rotwk-league.net can be downloaded anytime!
                </p>
            </div>
        </div>
    </div>
</section>
<section class="py-5 section-grey">
    <div class="container">
        <div class="row section-padding">
            <!-- <div class="col-md-5 center-me">
                <img class="img-fluid d-block mx-auto"
                    src="/assets/components/home/games-matching.jpg"
                    style="height: 200px; width: 100%; margin-top: 0px;"
                    alt="">
            </div> -->
            <div class="col-sm-12 center-me">
                <h1>Easy games matching</h1>
                <p class="lead center-me">rotwk-league.net is a 'free-lancer' system which means there're no clans.</p>
                <p class="left-me">
                    Which is very good because this is a lot easier to get any kind of game and make it recorded/counted
                    on the ladder. This allows us to minimize amount of time you have to wait for a game. What's bad
                    about clans system is that very often your clan mate is offline or you have to play with a guest.
                    Well, no more!
                </p>
            </div>
        </div>
    </div>
</section>

<!-- </div> -->
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
