<circle-spinner [hidden]="!loading"></circle-spinner>

<div class="container">
    <div id="games-count-selection" class="row">
        <div class="col-sm-6 text-center">
            <p>Last {{ lastGamesCount }} games played</p>
            <p>Games all time: {{ gamesAllTimeCount }}</p>
            <p>Games this month: {{ gamesCurrentMonthCount }}</p>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <input
                    id="games-count-input"
                    type="text"
                    class="form-control"
                    [(ngModel)]="lastGamesCount"
                    (keypress)="keyPress($event)"
                    placeholder="Last games count to display"
                />
                <button
                    id="updates-games-btn"
                    type="button"
                    class="btn btn-primary"
                    (click)="getLastGames(lastGamesCount)"
                >
                    Update
                </button>
            </div>
            <div class="row">
                <button class="btn btn-primary prev-btn" (click)="decrementPage()">Previous page</button>
                <button class="btn btn-primary next-btn" (click)="incrementPage()">Next page</button>
                <span class="page-number">Page number: {{ page + 1 }}</span>
            </div>
        </div>
    </div>

    <div class="table-responsive-sm">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Game ID</th>
                    <th>Map</th>
                    <th>Winner</th>
                    <th>Loser</th>
                    <th>Played on</th>
                    <th>Replay</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let game of lastGames">
                    <td>{{ game.displayGameId }}</td>
                    <td style="width: 200px; padding-left: 0; padding-right: 0;">
                        <img [src]="getImageSrc(game.mapCodeName)" />
                        <p>{{ game.mapDisplayName }}</p>
                    </td>
                    <td>
                        <div *ngFor="let player of game.players">
                            <a
                                *ngIf="!player.isLooser && !player.isGameHost"
                                class="player"
                                [routerLink]="['/player-card', player.name]"
                                target="_blank"
                            >
                                {{ player.name }}
                                <span [ngStyle]="{ color: player.armyColorCode }">({{ player.army }})</span>
                            </a>
                            <a
                                *ngIf="!player.isLooser && player.isGameHost"
                                class="player"
                                [routerLink]="['/player-card', player.name]"
                                target="_blank"
                            >
                                <u>{{ player.name }}</u>
                                <span [ngStyle]="{ color: player.armyColorCode }">({{ player.army }})</span>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div *ngFor="let player of game.players">
                            <a
                                *ngIf="player.isLooser && player.isGameHost"
                                class="player"
                                [routerLink]="['/player-card', player.name]"
                                target="_blank"
                            >
                                <u>{{ player.name }} </u>
                                <span [ngStyle]="{ color: player.armyColorCode }">({{ player.army }})</span>
                            </a>
                            <a
                                *ngIf="player.isLooser && !player.isGameHost"
                                class="player"
                                [routerLink]="['/player-card', player.name]"
                                target="_blank"
                            >
                                {{ player.name }}
                                <span [ngStyle]="{ color: player.armyColorCode }">({{ player.army }})</span>
                            </a>
                        </div>
                    </td>
                    <td>{{ game.playedOn | date: 'yyyy/MM/dd HH:mm:ss' }}</td>
                    <td>
                        <div class="download-replay-area" (click)="downloadReplay(game.gameId)">
                            <i class="fa fa-download download-rep-icon"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
