table {
    margin-top: 50px;
    text-align: center;
}

img {
    width: 50%;
    height: 70%;
}

table tr td {
    vertical-align: middle;
}

table tr td p {
    margin: 0 auto;
}

.download-rep-icon {
    font-size: 18px;
}

.download-rep-icon:hover {
    color: #d9d9d9;
    cursor: pointer;
}

#games-count-selection {
    margin-top: 100px;
}

.player{
    color: #aaa;
    font-weight: 500;
}

.player:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color:#aaa;
}

@media (max-width: 768px) {
    h4 {
        margin-bottom: 15px;
    }
    #btn-container {
        padding-right: 15px;
    }
    #games-count-input {
        width: 50%;
        /* margin: 0 auto; */
    }
    button {
        margin-right: 200px;
        margin-top: 15px;
    }
    table {
        margin-top: 100px;
    }
}

@media (min-width: 768px) {
    #btn-container {
        padding-right: 15px;
    }
    button {
        margin-top: 15px;
    }
}

@media (min-width: 992px) {
    h4 {
        margin-bottom: 15px;
    }
    #btn-container {
        padding-right: 15px;
    }
    #games-count-input {
        width: 50%;
        /* margin: 0 auto; */
    }
    button {
        margin-right: 55px;
        margin-top: 15px;
    }
}

@media (min-width: 1200px) {
    button {
        margin-right: 65px;
        margin-top: 15px;
    }
}

#updates-games-btn {
    margin: 0 auto;
}

p {
    font-weight: 500;
}

.page-number{
    margin-top: 25px;
}