<circle-spinner [hidden]="!loading"></circle-spinner>

<div class="container">
    <div class="row">
        <h1>Armies win percentage in 1v1 excluding mirror matchups</h1>
    </div>

    <div class="row">
        <div class="chart-container">
            <ngx-charts-bar-vertical
                [view]="view"
                [scheme]="colorScheme"
                [results]="single"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
            >
            </ngx-charts-bar-vertical>
        </div>
    </div>

    <div class="row">
        <app-activity-stats></app-activity-stats>
    </div>

    <div style="min-height: 100vh;"></div>
</div>
