﻿<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <img src="/assets/logo.png" style="display: inline-block; height: 40px" />
        <a class="navbar-brand" href="#">rotwk-league.net</a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/"
                        >Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        data-toggle="dropdown"
                        href="#"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="false"
                        >About</a
                    >
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="/get-started">Get started</a>
                        <a class="dropdown-item" routerLink="/rules">Rules</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        data-toggle="dropdown"
                        href="#"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="false"
                        >Ladders</a
                    >
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="/individual-ladder">Individual</a>
                        <a class="dropdown-item" routerLink="/team-ladder">Team</a>
                        <a class="dropdown-item" routerLink="/monthly-individual-ladder">Monthly Individual</a>
                        <a class="dropdown-item" routerLink="/monthly-team-ladder">Monthly Team</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="recent-games">Recent games</a>
                </li>
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        data-toggle="dropdown"
                        href="#"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="false"
                        >Players</a
                    >
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/player-history', 'EleonoreSkiles']">Player history</a>
                        <a class="dropdown-item" routerLink="/player-names">Registered in game names</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        data-toggle="dropdown"
                        href="#"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="false"
                        >Useful info</a
                    >
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="/failed-reports">Failed reports</a>
                        <a class="dropdown-item" routerLink="/statistics">Statistics</a>
                        <a class="dropdown-item" [routerLink]="['/player-card', 'EleonoreSkiles']">Player card</a>
                    </div>
                </li>
                <li class="nav-item dropdown" *ngIf="isLoggedIn()">
                    <a
                        class="nav-link dropdown-toggle"
                        data-toggle="dropdown"
                        href="#"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="false"
                        >My panel</a
                    >
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="/player-panel">Player panel</a>

                        <a class="dropdown-item" routerLink="/admin-panel">Admin Panel</a>
                    </div>
                </li>
                <li class="nav-item" *ngIf="!isLoggedIn()">
                    <a class="nav-link" routerLink="register">Register</a>
                </li>
                <li class="nav-item" *ngIf="!isLoggedIn()">
                    <a class="nav-link" routerLink="log-in">Log in</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn()" (click)="logout()">
                    <a class="nav-link" routerLink="/logout">Log out</a>
                </li>
                <li class="nav-item" routerLink="/get-started">
                    <button type="button" class="btn btn-secondary" style="height: 54px; margin: 0 2px 0 2px">
                        Get started!
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
