<div class="container" style="margin-top: 150px;">

    <circle-spinner [hidden]="!loading"></circle-spinner>

    <button type="button" class="btn btn-primary" (click)="getAll()">Refresh</button>

    <div class="table-responsive-sm">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Game ID</th>
                    <th>Occured On</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let report of failedReports; let i = index">
                    <td style="width: 10%">{{ report.gameId }}</td>
                    <td style="width: 20%">{{ report.occuredOn | date:'long' }}</td>
                    <td style="width: 70%">{{ report.message }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="min-height: 100vh;"></div>
</div>
