<div class="container" style="margin-top: 150px;">
    <circle-spinner [hidden]="!loading"></circle-spinner>
    <div class="col-sm-8 offset-sm-2 text-center">
        <div
            *ngIf="isAlertVisible"
            [ngClass]="
                isFailedAlert == true ? 'alert alert-dismissible alert-danger' : 'alert alert-dismissible alert-success'
            "
        >
            <button type="button" (click)="hideAlert()" class="close" data-dismiss="alert">&times;</button>
            {{ alertMessage }}
        </div>
        <div style="text-align: left;">
            <h2>Register</h2>
        </div>
        <form [formGroup]="rForm" (ngSubmit)="register()">
            <div class="form-group has-danger" style="text-align: left;">
                <label for="login">Login</label>
                <i
                    id="tip-icon"
                    class="fa fa-lightbulb-o"
                    data-toggle="tooltip"
                    data-placement="right"
                    title=""
                    data-original-title="You can use your e-mail address as login so that there are less chances you forget your login."
                ></i>
                <input
                    type="email"
                    name="email"
                    formControlName="email"
                    [(ngModel)]="registerUserViewModel.email"
                    class="form-control"
                    placeholder="Login"
                    [ngClass]="{ 'is-invalid': !rForm.controls['email'].valid && !rForm.controls['email'].pristine }"
                />
                <div
                    class="invalid-feedback"
                    *ngIf="
                        !rForm.controls['email'].valid &&
                        (rForm.controls['email'].touched || rForm.controls['email'].dirty)
                    "
                >
                    Login is required.
                </div>
            </div>
            <div class="form-group has-danger" style="text-align: left;">
                <label for="initialNickname">Your in game name</label>
                <input
                    type="initialNickname"
                    name="initialNickname"
                    formControlName="initialNickname"
                    [(ngModel)]="registerUserViewModel.initialNickname"
                    class="form-control"
                    placeholder="In game name"
                    [ngClass]="{
                        'is-invalid':
                            !rForm.controls['initialNickname'].valid && !rForm.controls['initialNickname'].pristine
                    }"
                />
                <!-- <div class="invalid-feedback" *ngIf="!rForm.controls['initialNickname'].valid && (rForm.controls['initialNickname'].touched || rForm.controls['initialNickname'].dirty)">Nickname is required.</div> -->
                <div
                    class="invalid-feedback"
                    *ngIf="
                        !rForm.controls['initialNickname'].valid &&
                        !rForm.controls['initialNickname'].hasError('maxlength') &&
                        (rForm.controls['initialNickname'].touched || rForm.controls['initialNickname'].dirty)
                    "
                >
                    In game name is required.
                </div>
                <div class="invalid-feedback" *ngIf="rForm.controls['initialNickname'].hasError('maxlength')">
                    In game name must not be longer than 10 characters.
                </div>
            </div>

            <div class="form-group has-danger" style="text-align: left;">
                <label for="initialDisplayName">Your display name</label>
                <input
                    type="initialDisplayName"
                    name="initialDisplayName"
                    formControlName="initialDisplayName"
                    [(ngModel)]="registerUserViewModel.initialDisplayName"
                    class="form-control"
                    placeholder="Display name"
                    [ngClass]="{
                        'is-invalid':
                            !rForm.controls['initialDisplayName'].valid && !rForm.controls['initialDisplayName'].pristine
                    }"
                />
                
                <div
                    class="invalid-feedback"
                    *ngIf="
                        !rForm.controls['initialDisplayName'].valid &&
                        !rForm.controls['initialDisplayName'].hasError('maxlength') &&
                        (rForm.controls['initialDisplayName'].touched || rForm.controls['initialDisplayName'].dirty)
                    "
                >
                    In game name is required.
                </div>
            </div>

            <div class="form-group" style="text-align: left;">
                <label for="password">Password</label>
                <input
                    type="password"
                    name="password"
                    formControlName="password"
                    [(ngModel)]="registerUserViewModel.password"
                    class="form-control"
                    placeholder="Password"
                    [ngClass]="{
                        'is-invalid': !rForm.controls['password'].valid && !rForm.controls['password'].pristine
                    }"
                />
                <div
                    class="invalid-feedback"
                    *ngIf="
                        !rForm.controls['password'].valid &&
                        (rForm.controls['password'].touched || rForm.controls['password'].dirty)
                    "
                >
                    Password is required.
                </div>
                <div class="invalid-feedback" *ngIf="rForm.controls['password'].hasError('minlength')">
                    Password is too short.
                </div>
            </div>
            <div class="form-group" style="text-align: left;">
                <input type="checkbox" name="terms-checkbox" formControlName="terms-checkbox" />
                I agree with the <a routerLink="/rules" target="_blank">terms of use</a> of rotwk-league.net platform.
            </div>
            <div style="text-align: left; padding-top: 24px;">
                <button type="submit" class="btn btn-primary" [disabled]="!rForm.valid">Register</button>
            </div>
        </form>
        <div style="min-height: 100vh;"></div>
    </div>
</div>
