.img-center {
    display: block;
    margin: 0 auto;
}

.ul-on-page li {
    margin-left: 40px;
}

.fa-download {
    font-size: 35px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #ffa400;
    text-decoration: none;
}

#rep-parser-label {
    font-size: 20px;
    font-weight: 500;
}

.orange-label {
    color: #ffa400;
}

/* top right bottom left */
.news-item-container {
    background-color: rgba(255, 164, 0, 0.5);
    border-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 1px 30px 30px 30px;
}

.news-date {
    position: absolute;
    right: 25px;
}

#news-header {
    margin-top: 100px;
    margin-bottom: 50px;
}
