<div class="container">
    <h1 id="news-header" class="">News</h1>

    <!-- NEWS 1 -->

    <div class="card text-white bg-primary mb-3">
        <div class="card-header">20.07.2018</div>
        <div class="card-body">
            <h4 class="card-title">Version 1.0 release</h4>
            <p class="card-text">Version 1.0 of rotwk-league.net is finally live!</p>
        </div>
    </div>

    <!-- <div class="news-item-container mar-bottom-high">
		<h1 class="mar-bottom-low">Beta 1.07.2 release</h1>
		<p>List of the version changes and fixes: </p>
		<ul class="ul-on-page mar-bottom-medium">
			<li>fix: points penalty feature. The problem with points penalty was it was checking if a player was inactive for at least 14 days. Since then a player was punished on certain ladders on every midnight.</li>
			<li>
				fix: warriors' points. Due to the above feature working incorrectly, several players were substracted too many points. I browsed history, calculated how many points each nickname was punished, reverted the changes and provided correct ratings. The details can be found in the <u><a href="/assets/components/news/adhoc ratings penalty fix.xlsx" target="_blank">XLSX file</a></u>. In case you don't own MS Office, you can view it using <u><a href="/assets/components/news/adhoc ratings penalty fix.csv" target="_blank">csv file</a></u>.
			</li>
			<li>provide simlified interface for staff members to process AR games</li>
		</ul>
		<p class="news-date">2018-04-07</p>
	</div> -->

    <div style="min-height: 100vh;"></div>
</div>
