<circle-spinner [hidden]="!loading"></circle-spinner>

<div class="container">
    <div id="games-count-selection" class="row">
        <div class="col-md-2">
            <label>Games count</label>
            <input
                id="games-count-input"
                type="text"
                class="form-control"
                [(ngModel)]="lastGamesCount"
                (keypress)="keyPress($event)"
                placeholder="Last games count to display"
            />
        </div>
        <div class="col-md-2">
            <label>In game/display name</label>
            <input
                id="player-name"
                type="text"
                class="form-control"
                [(ngModel)]="playerName"
                placeholder="Player name"
            />
        </div>
        <div class="col-md-2">
            <label style="margin-bottom: 0.5rem">Ladder type</label>
            <div class="dropdown">
                <button
                    class="btn btn-secondary dropdown-toggle ladder-btn"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    {{ ladderType }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" (click)="setLadderType('Permanent')">Permanent</a>
                    <a class="dropdown-item" (click)="setLadderType('Monthly')">Monthly</a>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="padding-top: 30px">
            <button class="btn btn-primary prev-btn" (click)="decrementPage()">Previous page</button>
            <button class="btn btn-primary next-btn" (click)="incrementPage()">Next page</button>
            <span>Page number: {{ page + 1 }}</span>
        </div>

        <div class="col-md-2" style="text-align: right; padding-top: 30px">
            <button type="button" class="btn btn-primary update-btn" (click)="getLastGames()">
                Update
            </button>
        </div>
    </div>

    <div class="table-responsive-sm">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Game ID</th>
                    <th>Map</th>
                    <th>Winner</th>
                    <th>Loser</th>
                    <th>Played on</th>
                    <th>Replay</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let game of lastGames">
                    <td>{{ game.displayGameId }}</td>
                    <!-- <td><img [src]="getImageSrc(game.mapCodeName)" /></td> -->
                    <td style="width: 200px; padding-left: 0; padding-right: 0;">
                        <img [src]="getImageSrc(game.mapCodeName)" />
                        <p>{{game.mapDisplayName}}</p>
                    </td>
                    <td>
                        <div *ngFor="let player of game.players">
                            <div class="player-container" *ngIf="!player.isLooser && !player.isGameHost">
                                <div class="player-name">
                                    {{ player.displayName }}
                                    <span [ngStyle]="{ color: player.armyColorCode }">({{ player.army }})</span>
                                </div>

                                <span class="player-delta winner"> +{{ player.delta }}</span>
                            </div>

                            <div class="player-container" *ngIf="!player.isLooser && player.isGameHost">
                                <div class="player-name">
                                    <span>
                                        <u>{{ player.displayName }}</u>
                                    </span>
                                    <span [ngStyle]="{ color: player.armyColorCode }">({{ player.army }})</span>
                                </div>

                                <span class="player-delta winner">+{{ player.delta }}</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div *ngFor="let player of game.players">
                            <div class="player-container" *ngIf="player.isLooser && player.isGameHost">
                                <div class="player-name">
                                    <span>
                                        <u>{{ player.displayName }} </u>
                                    </span>
                                    <span [ngStyle]="{ color: player.armyColorCode }">({{ player.army }})</span>
                                </div>

                                <span class="player-delta loser">{{ player.delta }}</span>
                            </div>

                            <div class="player-container" *ngIf="player.isLooser && !player.isGameHost">
                                <div class="player-name">
                                    <span>{{ player.displayName }}</span>
                                    <span [ngStyle]="{ color: player.armyColorCode }">({{ player.army }})</span>
                                </div>

                                <span class="player-delta loser">{{ player.delta }}</span>
                            </div>
                        </div>
                    </td>
                    <td>{{ game.playedOn | date: 'yyyy/MM/dd HH:mm:ss' }}</td>
                    <td>
                        <div class="download-replay-area" (click)="downloadReplay(game.gameId)">
                            <i class="fa fa-download download-rep-icon"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div style="min-height: 100vh;"></div>
    </div>
</div>
