<div class="container" style="margin-top: 150px;">
    <div id="alert-failed-login" *ngIf="errorMessage" class="alert alert-dismissible alert-danger">
        <button type="button" (click)="hideFailedAlert()" class="close" data-dismiss="alert">&times;</button>
        {{ errorMessage }}
    </div>

    <div style="min-height: 100vh;"></div>
</div>
