#who-is-online-label {
    position: absolute;
    top: 13px;
    left: 40px;
    color: #ffa400;
}

#who-is-online-wrapper {
    z-index: 10000000000000;
    position: absolute;
    top: 225px;
    left: 0px;
    border: 1px solid orange;
    width: 170px;
    height: 50px;
}

#who-is-online-wrapper:hover {
    cursor: pointer;
    background-color: #e5e5e5;
}

.opacity-one {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
