<div class="container">
    <h1 style="margin-top: 100px;">{{ retrievedNick }} warrior history</h1>

    <div class="table-responsive-sm">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Game ID</th>
                    <!-- <th>Map</th> -->
                    <th>Winner</th>
                    <th>Loser</th>
                    <th>Played on</th>
                    <th>Replay</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let game of data">
                    <td>{{ game.GameId }}</td>
                    <td>
                        <!-- <img [map-image]="game.MapCodeName" /> -->
                    </td>
                    <td>
                        <div *ngFor="let player of game.Players">
                            <p class="win-label" *ngIf="!player.IsLooser && !player.IsGameHost">
                                {{ player.Nickname }}
                            </p>
                            <p class="label-orange" *ngIf="!player.IsLooser && player.IsGameHost">
                                <u>{{ player.Nickname }}</u>
                            </p>
                        </div>
                    </td>
                    <td>
                        <div *ngFor="let player of game.Players">
                            <p class="label-orange" *ngIf="player.IsLooser && player.IsGameHost">
                                <u>{{ player.Nickname }} </u>
                            </p>
                            <p class="loss-label" *ngIf="player.IsLooser && !player.IsGameHost">
                                {{ player.Nickname }}
                            </p>
                        </div>
                    </td>
                    <td>{{ game.PlayedOn | date: 'yyyy/MM/dd HH:mm:ss' }}</td>
                    <td>
                        <div class="download-replay-area" (click)="downloadReplay(game.GameId)">
                            <i class="fa fa-download download-rep-icon"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <h5 style="margin-bottom: 12px; padding-top: 5px;">Page: {{ pageNumber }}</h5>
    <button type="button" class="btn btn-primary" (click)="updatePageNumber(-1)">Previous</button>
    <button type="button" id="second-button" class="btn btn-primary" (click)="updatePageNumber(1)">Next</button>
</div>
