.cr-nick-header{
    margin-top: 50px;
}

.in-game-name:hover{
    cursor: default;
}

.dropdown-menu {
    transform: translate3d(5px, 45px, 0px) !important;
}

.dropdown-menu .dropdown-item {
    cursor: pointer;
}