﻿<div class="container">
    <div class="col-sm-8 offset-sm-2" style="margin-top: 150px;">
        <circle-spinner [hidden]="!loading"></circle-spinner>

        <div
            *ngIf="isAlertVisible"
            [ngClass]="
                isFailedAlert == true ? 'alert alert-dismissible alert-danger' : 'alert alert-dismissible alert-success'
            "
        >
            <button type="button" (click)="hideAlert()" class="close" data-dismiss="alert">&times;</button>
            {{ alertMessage }}
        </div>

        <h2>My player names</h2>
        <form [formGroup]="playerNameForm" (ngSubmit)="updatePlayerName()">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label>In game name</label>

                        <!-- <input
                            type="text"
                            name="playerName"
                            formControlName="playerName"
                            [(ngModel)]="playerName"
                            class="form-control in-game-name"
                            readonly
                        /> -->

                        <div class="dropdown">
                            <button
                                class="btn btn-primary dropdown-toggle"
                                type="button"
                                id="dropdownMenuButton"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                            >
                                {{ playerCodeName }}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a
                                    class="dropdown-item"
                                    *ngFor="let playerName of playerNames; let i = index"
                                    (click)="setSelectedPlayerName(playerName)"
                                >
                                    {{ playerName }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <label>League display name</label>
                        <input
                            type="text"
                            name="playerDisplayName"
                            formControlName="playerDisplayName"
                            [(ngModel)]="playerDisplayName"
                            class="form-control"
                        />
                    </div>
                </div>
            </div>
            <button style="margin-top: 12px;" type="submit" class="btn btn-primary">
                Update
            </button>
        </form>

        <h2 class="cr-nick-header">Create player name</h2>
        <form [formGroup]="rForm" (ngSubmit)="createNickname()">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group has-danger">
                        <label>In game name</label>
                        <input
                            type="text"
                            name="nickname"
                            formControlName="nickname"
                            [(ngModel)]="nickname"
                            class="form-control"
                            [ngClass]="{
                                'is-invalid': !rForm.controls['nickname'].valid && !rForm.controls['nickname'].pristine
                            }"
                        />
                        <div
                            class="invalid-feedback"
                            *ngIf="
                                !rForm.controls['nickname'].valid &&
                                !rForm.controls['nickname'].hasError('maxlength') &&
                                (rForm.controls['nickname'].touched || rForm.controls['nickname'].dirty)
                            "
                        >
                            In game name is required.
                        </div>
                        <div class="invalid-feedback" *ngIf="rForm.controls['nickname'].hasError('maxlength')">
                            In game name must not be longer than 10 characters.
                        </div>
                    </div>
                </div>

                <div class="col-sm-9">
                    <div class="form-group has-danger">
                        <label>League display name</label>
                        <input
                            type="text"
                            name="nicknameDisplay"
                            formControlName="nicknameDisplay"
                            [(ngModel)]="nicknameDisplay"
                            class="form-control"
                            [ngClass]="{
                                'is-invalid':
                                    !rForm.controls['nicknameDisplay'].valid &&
                                    !rForm.controls['nicknameDisplay'].pristine
                            }"
                        />
                        <div
                            class="invalid-feedback"
                            *ngIf="
                                !rForm.controls['nicknameDisplay'].valid &&
                                !rForm.controls['nicknameDisplay'].hasError('maxlength') &&
                                (rForm.controls['nicknameDisplay'].touched || rForm.controls['nicknameDisplay'].dirty)
                            "
                        >
                            League display name is required.
                        </div>
                    </div>
                </div>
            </div>

            <button style="margin-top: 12px;" type="submit" class="btn btn-primary" [disabled]="!rForm.valid">
                Submit
            </button>
        </form>
        <div style="min-height: 100vh;"></div>
    </div>
</div>
