<div class="container" style="margin-top: 75px;">
    <!-- StrayHeart -->
    <div class="card text-white bg-primary mb-3">
        <div class="card-header">StrayHeart: Site admin and project founder</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <p><b>E-mail:</b> rkrawczyszyn@gmail.com</p>
                    <p>
                        <b>GameReplays:</b>
                        <a href="https://www.gamereplays.org/community/index.php?showuser=172004" target="blank"
                            >StrayHeart</a
                        >
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div style="min-height: 100vh;"></div>
</div>
