<circle-spinner [hidden]="!loading"></circle-spinner>

<h1 class="header">Monthly activity</h1>

<div class="date-container">
    <div class="row">
        <div class="col-sm-4">
            <label>Select date</label>
            <my-date-picker
                name="mydate"
                [options]="myDatePickerOptions"
                [(ngModel)]="model"
                (dateChanged)="onDateChanged($event)"
            ></my-date-picker>
        </div>
        <div class="col-sm-2 btn-container">
            <button type="button" class="btn btn-primary" (click)="getMonthActivityData()">
                Load data
            </button>
        </div>
        <div class="col-sm-6 date-name-container">
            <h4 *ngIf="isValidDateProp">{{ momentDate.format('MMMM') }} {{ momentDate.format('YYYY') }} Activity</h4>
            <h4 *ngIf="!isValidDateProp">
                Invalid date provided
            </h4>
        </div>
    </div>
</div>

<ngx-charts-line-chart
    [view]="view"
    [scheme]="colorScheme"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [results]="multi"
>
</ngx-charts-line-chart>
