::ng-deep .ngx-charts {
    text {
        fill: #fff !important;
    }
}

.header {
    margin-top: 90px;
}

.date-container {
    margin-bottom: 40px;
}

.btn-container {
    padding-top: 30px;
}

h1 {
    margin-bottom: 25px;
}

label {
    font-size: 20px;
}

my-date-picker {
    display: block;
}

.date-name-container {
    display: flex;
    align-items: flex-end;
}
