/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Lotr";
  src: url("assets/fonts/lotr-aniron/anirm___.ttf") format("truetype");
}

  ul li{
    min-width: 80px;
    text-align: center;
  }

  

  .center-me{
    text-align: center;
    align-content: center;
  }

/* *****************
  SECTIONS
***************** */

.section-grey p{
    font-size: 18px;
    /* padding-top: 20px; */
}

.section-blue{
    background-color: #213054;
    

}

.section-blue p{    
    color: rgb(170, 170, 170);
    font-size: 18px;
    
}

.left-me{
    text-align: left;
}

.section-padding{
  padding: 50px 0 50px 0;
}
