<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Created by StrayHeart (rkrawczyszyn@gmail.com)</p>
        <p class="m-0 text-center text-white">
            For tech support, visit
            <a href="https://www.gamereplays.org/community/index.php?showforum=3709" target="_blank"
                >RotWK Technical Support - GameReplays.org</a
            >
        </p>
    </div>
    <!-- /.container -->
</footer>
